{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{form_start(form)}}
    <button type="submit">test</button>
    {{form_end(form)}}
{% endblock %}
